[2021-12-20 10:48] erwanp commented on #417
See also #53   where I usually add many tiny todo tasks

[2021-12-31 15:48] erwanp commented on #418
Minor comment : some formatting is broken in the README https://github.com/radis/radis#gpu-acceleration

[2022-01-04 06:00] yashdabhade1 commented on #296
Hello,
I wanted to learn more about Continuous Integration and make contributions in the same.
Will you please guide me ?

[2022-01-05 19:04] erwanp commented on #296
Hello! Thanks for offering to contribute. You should first research caching Anaconda on Travis to get familiar. Then fork and edit the Travis-ci.yml file. Then open a pull request, this will be enough to trigger a Travis deployment and see if it worked.

[2022-01-09 19:43] #418 closed

[2022-01-25 22:17] kitsiosvas commented on #244
Hello, I'm interested to work on this if the issue is still open.
Thank you

[2022-01-26 11:53] erwanp commented on #244
Hello, thanks for helping! @gagan-aryan is it fine if @kitsiosvas tries ?

Warning : the changes in the code are quite easy, however it may have an impact on other parts of the code, therefore one needs to understand where .get() is currently used. This requires to carefully look at the code base, which is great if you want to become a long term contributor to Radis

[2022-01-26 12:02] gagan-aryan commented on #244
Sure.
@kitsiosvas go ahead ! I had created [a PR on this](https://github.com/radis/radis/pull/258) a while back. Discussions over there might be helpful to get you started.

[2022-03-04 13:12] erwanp commented on #377
@gagan-aryan @anandxkumar  for GSOC-2022 project [8]

[2022-03-05 16:57] erwanp opened #421 "Lineshape issues at low pressure with DIT min-RMS"
### 🐛 Describe the bug

For very narrow broadening (typically mbar), the lineshape obtained with min-RMS weights of the DIT algorithm ( #116 ) give wrong lineshape.

This happens both with FFT and Analytical Voigt.

### 🖥 Steps To Reproduce

[code]

Analytical Voigt :

![image](https://user-images.githubusercontent.com/16088743/156892702-08f14b30-5722-4d97-8559-867bc7a70c21.png)

FFT :

![image](h

[2022-03-05 17:03] anandxkumar commented on #421
The temporary fix can be a good first issue for newcomers!

[2022-03-05 17:12] dcmvdbekerom commented on #421
This also happened in https://github.com/radis/radis/issues/186

Even after all corrections, the optimized weights do this at too narrow widths.

My preference would be to make the simple weights default even, they are more reliable if a little less accurate, but you can compensate by increasing width grid resolution

[2022-03-06 19:10] erwanp commented on #401
Starting from Vaex 4.8 there are no more compatibility problem with Spyder.

Fix of #402 is removed in Radis 0.13

[2022-03-06 22:25] erwanp opened #423 "switch CI to Micromamba"
### 🎯 Todo

Conda environment became sluggish, and it is even causing failures in the Continuus-integration tests : the conda environemnt crashes during build . https://app.travis-ci.com/github/radis/radis/jobs/562227307  (fails #422)

### 💡 Possible solutions

We could use Mamba instead of Conda, which is known to be faster but also much more memory efficient. Mamba requires Conda, but Micromamba

[2022-03-06 22:25] erwanp commented on #421
@anandxkumar actually done in https://github.com/radis/radis/pull/422  :)

[2022-03-06 22:36] anandxkumar commented on #423
Nice idea, conda can be really time-consuming for building an environment, the initial impression of mamba looks promising.

[2022-03-09 14:15] Supriya1702 commented on #423
Hello @erwanp ! I would like to work on this issue. In this we have to edit `.travis.yml`  to fetch micromamba instead of miniconda and create a virtual environment radis-env using the same?

[2022-03-09 19:41] erwanp commented on #423
Exactly. I assign you here, you can have a try. Thank you for helping !

If you need any help there is a Radis-developer Slack  (also accessible from the main site : https://radis.github.io/ )

[2022-03-10 21:53] ishumi007 commented on #421
Hi @erwanp, is this issue still open if yes then I'd like to contribute and can you please tell me how can I do so I mean I know basic python but I am ready to learn anything that will be required here. Thank you

[2022-03-10 22:16] anandxkumar commented on #421
Hello @ishumi007, thanks for showing interest in the issue. Erwan actually created a Pull request regarding the same, so I would suggest you look into other issues and let us know if you need any help regarding it :)

[2022-03-10 22:25] anandxkumar commented on #423
Hello @Supriya1702, thanks for taking up the issue. I would suggest you to reiterate the `.travis.yml` on your local system and see if that's working (in Linux Distro) and try installing the micromamba, create a virtual environment and run the same. If it runs correct try to edit the `.travis.yml` accordingly. Let me know if you need any help :)

[2022-03-12 17:36] arunavabasu-03 commented on #275
i would like work on this issue

[2022-03-13 06:10] arunavabasu-03 opened #424 "🔴 deployment key is public"
### 🐛 Describe the bug

Deployment  key is  public on .travis.yml

Hey @erwanp , please check the  travis ci configuration file , I think the deployment key is public 😀.

[2022-03-13 06:53] arunavabasu-03 commented on #278
I would like to work on this issue

[2022-03-13 08:28] Supriya1702 commented on #423
Hello @erwanp @anandxkumar, I made the required modifications but while running `pytest` my system got stuck at `test_examples.py` for both anaconda and micromamba. I wonder why it's getting stuck!

[2022-03-13 16:00] erwanp commented on #278
Great ! Are you experienced with writing conda recipees?

[2022-03-13 16:02] erwanp commented on #424
I think only the encrypted key is public, and that we followed the recommended Travis-CI guidelines : https://docs.travis-ci.com/user/deployment/pypi/

Please confirm, it would be an important security issue. Thanks for checking ;)

[2022-03-13 16:17] erwanp commented on #423
Well done ! I do not think the pytest problem is related, can you already open a pull-request ?

[2022-03-13 16:18] erwanp commented on #275
Great, adding you here !

[2022-03-13 16:20] erwanp commented on #268
@rishawsingh can I un-assign you from here ?

[2022-03-13 16:21] erwanp commented on #153
Automatic Differentiation was implemented in https://github.com/HajimeKawahara/exojax  by @HajimeKawahara

[2022-03-13 16:21] #153 closed

[2022-03-13 16:23] erwanp commented on #379
(closing for the moment)

[2022-03-13 16:23] #379 closed

[2022-03-13 16:28] erwanp commented on #423
Note that the change will be very helpful because for #420 and #422 are failing with memory errors during Anaconda build.

[2022-03-13 17:02] arunavabasu-03 commented on #278
I have to see conda recipes in detail.

[2022-03-13 17:41] arunavabasu-03 commented on #424
Hey @erwanp, the key is encrypted.
Basically we have run `travis encrypt your-API-token --add deploy. password` to encrypt the key.

[2022-03-13 18:39] erwanp commented on #424
Thank you for checking; I'm closing here

[2022-03-13 18:39] #424 closed

[2022-03-13 21:59] anandxkumar commented on #424
Thanks @arunavabasu-03 for checking :+1:

[2022-03-19 14:43] erwanp opened #427 "pandas InvalidIndexError error in df.at"
### 🐛 Describe the bug

For Pandas >=1.4, some change in df.at()  fails our calls to df.at[idx, "Qvib"]  with InvalidIndexError

[code]

Seen in the test suites of #420, #422, #425, #426

### 🖥 Steps To Reproduce

Run radis/test/lbl/test_calc.py for instance

### 💡 Possible solutions

Using df.loc() instead of df.at() seems to work, with maybe some impacts on performances ( Stackoverflow : .At() i

[2022-03-20 19:29] #427 closed

[2022-03-20 20:07] #423 closed

[2022-03-20 20:42] erwanp opened #429 "(link to) Radis-App Issues & Features"
### 🐛 Describe the bug

Adding here the link to Radis-App issues & features, which may be Good First Issues to start with for anyone trained in JS.

https://github.com/suzil/radis-app/issues

[2022-03-20 21:08] #421 closed

[2022-03-21 10:31] anandxkumar opened #430 "(link to) Radis-Lab Issues & Features"
### 🐛 Describe the bug

Adding the link to [Radis-Lab](https://radis.github.io/radis-lab/) issues & features. Good first issues for those who are familiar with `Python` and  `Jupyter Notebook`.

A specific `good first issue` for those who are familiar or want to learn  `docker`: https://github.com/radis/radis-lab/issues/13 **[High Priority issue]**

https://github.com/radis/radis-lab/issues

[2022-03-21 11:37] erwanp commented on #430
https://github.com/radis/radis-lab/issues/13 would have high impact for current Radis-users, I recommend this issue if you want to contribute to the project !

[2022-03-22 17:32] sagarchotalia opened #431 "Make Spectra Database clickable in Radis Flowchart"
### 🐛 Describe the issue

This issue addresses one of the documentation goals as mentioned in #77 (14th issue in the first list, to be precise)
- In the current [RADIS Flowchart](https://radis.readthedocs.io/en/latest/_images/RADIS_flow_chart.svg), the Spectra Database at the bottom of the page isn't currently clickable. This issue aims to have a working link for the same.
    - On a side note, so

[2022-03-23 10:20] sonikarajesh opened #432 "Adding Twitter/GitHub/Radis-App buttons to the SideBar"
To add Sidebars Twitter/GitHub/maybe RADIS-app/Lab buttons

[2022-03-24 09:52] #432 closed

[2022-03-24 19:22] minouHub opened #434 "C2H2 from exomol not converted to HITRAN format"
### 🐛 Describe the bug
Cannot run the  example bellow

### 🖥 Steps To Reproduce
[code]

Error:

[code]

### 💡 Possible solutions
The error arises because of this piece of code retrieving the molar mass catches an empty string ''.
[code]
I replaced it by
[code]
but then another error rises in the vaex conversion

[code]
I will try to sort it tonight hopefully but if someone wants to try they are we

[2022-03-25 13:42] #431 closed

[2022-03-30 00:04] minouHub commented on #434
Same with C2H4

[2022-03-31 05:38] sagarchotalia commented on #62
**Some of the current functions in the code that aren't being covered:**

In [radis/db](https://codecov.io/gh/radis/radis/tree/develop/radis/db):
- In [classes.py](https://app.codecov.io/gh/radis/radis/blob/develop/radis/db/classes.py)
    - [_E_Herzberg()](https://app.codecov.io/gh/radis/radis/blob/develop/radis/db/classes.py#:~:text=def%20_E_Herzberg(self%2C%20v%2C%20J%2C%20remove_ZPE%3DTrue)%3A

[2022-04-01 01:56] TranHuuNhatHuy opened #439 "Fix inaccessible links in README"
### 🐛 Describe the issue
This issue is to address several inaccessible links in [README](https://github.com/radis/radis/blob/develop/README.rst):

- The "detailed installation procedure" link in [Install](https://github.com/radis/radis#install) is currently pointing to a wrong url.
- The Github link for radis app in [here](https://github.com/radis/radis#radis-app) is currently poiting to radis-ui

[2022-04-02 08:00] #439 closed

[2022-04-02 08:52] sonikarajesh commented on #213
I was able to retrieve broadening coefficients of He, H20, CO2, H2 (Voigt parameters) from hapi module. I downloaded and got it in the HITRAN format (.data file) . These non-air broadening coefficients are useful only in functions in "broadening.py" file so we need to add the new columns in those functions and use these coefficients.  Is this way of progress right ?

[2022-04-02 23:45] erwanp commented on #62
Amazing list, thank you it's a nice guidance to get started !!

[2022-04-02 23:53] TranHuuNhatHuy opened #440 "apply_slit() returns error in co2-4080-4500 example"
### 🐛 Describe the issue
Previously reported at [#32](https://github.com/radis/radis-lab/issues/32)

In this example of [Comparing line-of-sight CO2 with experiments](https://github.com/radis/radis-lab/blob/main/examples/co2-4080-4500nm/co2-4080-4500.ipynb), executed by a https://notebooks.gesis.org/ binder on radis-lab, when running this cell:
[code]
An AssertionError appears:
[code]
It is worth

[2022-04-04 10:24] TranHuuNhatHuy commented on #77
Currently the documentation for `fetch_hitran()` [here](https://radis.readthedocs.io/en/latest/source/radis.io.hitran.html#radis.io.hitran.fetch_hitran) features an example of `fetch_hitemp` instead. Not sure if this is deliberate.

[2022-04-04 10:50] erwanp commented on #77
It is not deliberate, good catch. You can replace it with fetch_hitran() !

Note 1 : fetch_hitemp() and fetch_exomol() could also be mentionned in the See Also section of fetch_hitran()  (and vice-versa)

Note 2 : [fetch_hitemp()](https://radis.readthedocs.io/en/latest/source/radis.html#radis.fetch_hitemp) does not mention the Gallery Examples which use it (for instance [this one](https://radis.re

[2022-04-04 10:58] TranHuuNhatHuy commented on #77
@erwanp Your second note perfectly explains why I could not import and use `fetch_hitran()` from `radis` the same way I did with `fetch_hitemp()`. Much oblidged for this. I will put a PR for them soon.

[2022-04-05 16:39] erwanp opened #443 "Add truncation=None option"
### 🎯 Todo

Allow `truncation=None` in SpectrumFactory and calc_spectrum inputs; which should perform as follow : calculate each lineshape over the full spectral range (including neighbour lines)

[2022-04-05 16:54] erwanp opened #444 "Use astropy units in rescale_path_length()"
### 🎯 Todo

Would allow this syntax, to change the column length of an already computed spectrum  :

[code]

### 💡 Possible implementations

Related to #57

---
<sub>*Tip : you can vote for [New Features](https://github.com/radis/radis/issues/79) on https://feathub.com/radis/radis*</sub>

[2022-04-05 18:57] Supriya1702 commented on #443
Hey @erwanp,  I would like to work on this issue!

[2022-04-05 20:11] erwanp commented on #443
Excellent, I'm assigning you.

I advise you first start by running a few calculations to see what the truncation paremeter does. It will help you set up tests later.

For instance you may start from this one https://github.com/radis/spectro101/issues/3

[2022-04-06 00:58] TranHuuNhatHuy commented on #444
@erwanp sounds interesting! I would like to tackle this problem.

[2022-04-06 06:42] erwanp commented on #444
#55 introduced a convert_and_strip_units() function, it may be used directly. The core of the PR work will be to add the corresponding small unit tests

[2022-04-06 07:24] erwanp commented on #213
The parameters should be added directly in the local radis dataframe. This will be done within the GSOC project itself!

[2022-04-06 15:05] CorentinGrimaldi opened #446 "Plot with double axis (nm, cm-1)"
### 🎯 Describe what you'd like

The possibility to plot any variable (radiance, absorbance...) on a double x-axis plot would be really convenient!

### 💡 Possible implementations

In `spectrum.plot` the argument `wunit` could be used.
For example, when it is equal to `('nm', 'cm-1')`, the plot should be with a linear x-axis graduated in nm and non linear x-axis (on top) graduated in cm-1.
When it

[2022-04-07 13:47] TranHuuNhatHuy commented on #136
Hi @erwanp , when I try the script [gendocs.sh](https://github.com/radis/radis/tree/develop/docs), the mentioned `backreferences` folder which contains the EXAMPLES files (`*.examples`) is actually generated at `radis/docs/source/backreferences` instead of `radis/docs/gen_modules/backreferences`. Could you confirm this?

[2022-04-07 14:19] erwanp commented on #136
Right ! I corrected the issue

[2022-04-10 21:05] Supriya1702 commented on #443
Hey @erwanp, if `truncation=None`  then  in  `def _generate_wavenumber_arrays` we are making `truncation = wavenumber_calc[-1] - wavenumber_calc[0]`  in which wavenumber_calc pads the neighbour_lines to wavenumber for both equilibrium and non-equilibrium condition which I believe represents full spectrum range condition including neighbouring lines.

Now if we are using `fft` broadening method, tr

[2022-04-10 21:35] erwanp commented on #443
Implementing truncation=None for the Voigt method is possible but would be long, and not very useful. Raise an NonImplementedError instead, suggesting to use Fft broadening

[2022-04-13 06:23] erwanp commented on #213
Note : implementation wise we may need to use something else than a "diluent" parameter, it seems to be confusing for Hapi users :

- https://github.com/hitranonline/hapi/issues/33
- https://github.com/hitranonline/hapi/issues/34

[2022-04-13 07:23] erwanp commented on #77
Link to "column_2004" in the download-HITEMP example doesn't work https://radis.readthedocs.io/en/latest/auto_examples/plot_hitemp_OH_database.html#sphx-glr-auto-examples-plot-hitemp-oh-database-py

[2022-04-13 10:52] erwanp commented on #429
@arunavabasu-03 I'm tagging you here; because GSOC requires that you contribute to the organization repository ; therefore I'm reporting your contributions in suzil/radis-app here in radis/radis so they are properly counted.

[2022-04-13 10:54] erwanp commented on #429
Just to be sure, can you also push some PR directly in RADIS (not necessarily related to the Radis-App project). For instance some of the docs : https://github.com/radis/radis/issues/77

[2022-04-13 12:01] erwanp commented on #179
Note : RADIS now has a [to_pandas()](https://radis.readthedocs.io/en/latest/source/radis.html#radis.Spectrum.to_pandas) function

[2022-04-13 13:59] erwanp commented on #446
@arunavabasu-03 this one would be nice in Radis-App too ; you can add it in your proposal

[2022-04-14 11:00] arunavabasu-03 commented on #446
Yeah, I add that 😀 .

[2022-04-15 16:03] arunavabasu-03 commented on #296
Hey @erwanp, I would like to work on this issue.

[2022-04-28 12:12] AllanHOlesenBW opened #454 "💩 Bug Report: Error when getting the emisscoeff array with wavenum based Iunit"
### 🐛 Describe the bug

When getting the emisscoeff, requesting a wavenum based Iunit, the internal unit conversion fails.

As far as I can see, this happens:

- the spectrum.py get() function will call the units.py convert_universal() function for unit conversion
- as the name implies, this function is supposed to be able to do universal conversion of "whatever unit"
- when converting to a wavenu

[2022-04-28 17:21] erwanp commented on #454
Hello, thank you for the detailed report.
This will be fixed right away ;)

[2022-04-28 17:28] erwanp commented on #454
@AllanHOlesenBW  #455 will fix your issue, I'll merge as soon as the tests pass. I checked your example worked.

[code]

![image](https://user-images.githubusercontent.com/16088743/165812139-ba0b12f6-d040-4116-b1fa-7afbef038b87.png)

Checking the integral is properly conserved in both cases :

[2022-04-28 17:31] erwanp commented on #454
The fix will not be released before the next version of RADIS (it's not a critical/physics error), so if you want to use it right now you should install the Developer version directly from GitHub (after #455 is merged)

[code]
More info : https://radis.readthedocs.io/en/latest/dev/developer.html#label-install

[2022-04-28 19:11] #454 closed

[2022-04-29 06:14] AllanHOlesenBW commented on #454
Thank you for the quick response. For now, I have just implemented this workaround in my code:

`# Get the emission coefficient array.
# The commented out code will not work because of radis bug #454.
# So we have to get a wavelength based Iunit and then do a manual conversion
#   from W/m3/sr/nm to W/m3/sr/cm-1
# sg1wn, sg1ec = sg1.get('emisscoeff', wunit='cm-1', Iunit='W/m3/sr/cm-1')
sg1wn, sg1e

[2022-04-29 07:53] AllanHOlesenBW commented on #215
Part of this thread is about what a user expects. I am probably not the typical user of this software, because I have no feet in the spectroscopy world and consequently do not how much of the software's behaviour is driven by conventions in that world. Anyway I am an engineer and a unit nazi, so I will describe my expectations and where the software deviates from those expectations.

My main expec

[2022-04-29 09:25] erwanp opened #456 "Intensity units consistent with the wavespace unit"
Turning an insightful comment from @AllanHOlensenBW into a Todo/Request.

---

**in short: I think it would be beneficial if the default wunit and Iunit in a spectrum would correspond to each other so a new user can jump directly to work with the units he is given.**

---

Context :

My main expectation is that the unit describing the wavenum/wavelength/frequency corresponds to the dSomething part

[2022-04-29 11:12] erwanp commented on #454
(sidenote @arunavabasu-03  : Allan here couldn't choose the proper version , as implemented in https://github.com/radis/radis/pull/438 . Can we switch it to an open-box instead of having a Dropdown (which we won't update all the time )

[2022-04-29 11:39] erwanp opened #457 "💩 Bug Report: H2O HITEMP Parsing is broken"
### 🐛 Describe the bug

At least for >11,000 cm-1

Seems to be a resurgence of https://github.com/radis/radis/issues/211

Reproduce :
[code]

### 💡 Possible solutions

_No response_

### 💻 Operating system

Windows

[2022-04-29 11:40] erwanp commented on #457
Found it. Somehow the parsing doesn't return Nan/empty strings;  but whitespace strings.

@minouHub had fixed it for Exomol HCN in https://github.com/radis/radis/pull/420/files by cleaning 2-whitespace strings; but HITEMP's H2O has 3-whitespace. Pushing a change to clean arbitrary whitespace.

[2022-04-29 11:58] arunavabasu-03 commented on #454
ok @erwanp, I do that 😀.

[2022-04-29 12:06] #457 closed

[2022-05-07 11:27] erwanp opened #460 "Integrals based on wavelength differs from integrals based on wavenum by a factor of 1.00027"
Original comment from @AllanHOlesenBW

---

**Integrals based on wavelength differs from inte

_Originally posted by @AllanHOlesenBW in https://github.com/radis/radis/issues/215#issuecomment-1112985821_

[2022-05-07 11:28] erwanp commented on #460
See answer https://github.com/radis/radis/issues/215#issuecomment-1113174801

[2022-05-07 11:28] erwanp commented on #460
@AllanHOlesenBW do you want to update the RADIS defaults to get a consistent get_power() output ?

[2022-05-07 12:32] erwanp opened #461 "check radiance calculation in GPU interactive mode"
https://github.com/radis/radis/blob/a0c9bf3d9444b05ad4196959398eddf1879f8d40/radis/lbl/factory.py#L1363

As i read these lines, the parameter `radiance` is recomputed from `emissivity` although it should be `radiance_noslit` (and slit should be applied afterwards)

[2022-05-07 12:32] erwanp commented on #461
@dcmvdbekerom let's check this sometime !

[2022-05-07 15:42] erwanp commented on #434
Investigating this; I noted that the C2H2 molar mass is wrong in the [ExoMol definition file](https://exomol.com/db/C2H2/12C2-1H2/aCeTY/12C2-1H2__aCeTY.def). It writes
[code]
should be 26.0   Da    and .4317401573e-26 kg

[2022-05-07 16:05] erwanp commented on #434
There is a 2nd typo in the definition file :
[code]
Both are written as "v5", should be "v5" and "v6"

This one is what triggered the Duplicate error @minouHub

[2022-05-07 19:22] erwanp commented on #446
If possible, wavelength & wavenumber scale should (both) use round numbers, just like this figure from the [ExoMol website](https://exomol.com/data/molecules/C2H2/12C2-1H2/aCeTY/) :

![image](https://user-images.githubusercontent.com/16088743/167268837-842c808b-32bb-46e6-82b7-3a865cd89b08.png)

[2022-05-07 19:46] erwanp commented on #434
(all of the above have been corrected; PR coming)

3rd problem : the C2H2 transition file does not give the transition wavenumber. You're supposed to recompute it from the upper & lower level id (saves space). This is not currently implemented in RADIS

[2022-05-07 23:15] erwanp opened #463 "Have a minimal & full requirements option for RADIS"
### 💭 Description

Minimal installation :

`pip install radis`

Maximal installation :

`pip install radis[full]`

In the minimal installation, we would **not** install some of [the current dependencies](https://github.com/radis/radis/blob/develop/environment.yml) :

- Cantera
- Specutils  (used in post processing)
- Tuna (used for some perf_profile)
- Habanero ("Spectrum.cite()" becomes optional)

[2022-05-09 06:08] AllanHOlesenBW commented on #460
Are you asking if I will perform the actual code change? Or are you just asking me on my opinion on whether the code should be  changed?

Re. the latter, I am a bit in deep water, as I do not have enough knowledge about other users' use cases.

For my own use case, I would prefer the equivalent of power3 or power4 in the example code above.

However, as far as I have understood from #215, a Radis

[2022-05-09 11:46] erwanp commented on #460
Hello, would be great if you could implement it. Your way is strongly supported by your argument.

Implementation wise, it should be as simple as changing [spectrum.py](https://github.com/radis/radis/blob/develop/radis/spectrum/spectrum.py#L1734) from `self.get_integral("radiance_noslit", wunit="nm", Iunit="mW/cm2/sr/nm")` to `self.get_integral("radiance_noslit", wunit="nm_vac", Iunit="mW/cm2/sr/n

[2022-05-09 17:56] #434 closed

[2022-05-15 15:24] arunavabasu-03 commented on #463
hey @erwanp, I like to work on this.

[2022-05-15 17:32] erwanp commented on #463
Maybe you should finish https://github.com/radis/radis/pull/452 first?

[2022-05-17 08:05] pmariotto opened #473 "Bug Report: fetch_exomol() does not work for H2O, CO2, CH4, NH3, OH, NO, HCl"
### 🐛 Describe the bug

``radis.io.exomol.fetch_exomol()`` does not work for H2O, CO2, CH4, NH3, OH, NO, HCl (and maybe for other species also, but I didn't test all species).
NB: ``radis.io.exomol.fetch_exomol()`` works perfectly for CO (and maybe for other species also, but I didn't test all species).

I tried the following script with molecule being ``"H2O"``, ``"CO2"``, ``"CH4"``, ``"NH3"``, `

[2022-05-17 12:19] erwanp commented on #473
Hello, thanks for reporting ! Glad that OH failed, it's very easy to test !

This seems linked : https://github.com/vaexio/vaex/issues/1254
Where basically, having "/" in column names makes HDF5 fails.

Now see this : reading OH with 'Pytables' I managed to find the column names :
[code]

       'Es_l', 'F1/F2_l', 'e/f_l', 'int', 'airbrd', 'Tdpair'],
      dtype='object')

They're full with "/". S

[2022-05-17 13:48] erwanp opened #474 "📚 todo: move Common API functions to radis.api"
### 💭 Description

Ground work for common RADIS/Exojax API.

See https://github.com/HajimeKawahara/exojax/discussions/257#discussioncomment-2764931

[2022-05-20 11:39] erwanp opened #476 "todo: add Warnings/prevent downloading very large files 🌳"
### 💭 Description

With the update of ExoMol API and more RADIS user using it; I believe it's important to prevent unexpectedly large file download.

For two reasons :
- user experience & performance  (ex : Recommended ExoMol database for [SiO](https://exomol.com/data/molecules/SiO/28Si-16O/) was EBJT , few MB, it became SiOuvenir, 1 GB.  -->  a first download would now take ages;  and it takes a

[2022-05-21 00:30] HajimeKawahara commented on #474
@erwanp
Should we create a new branch to start `radis.api`?
or use `fix/exomol_api_update`?

[2022-05-21 15:45] AllanHOlesenBW commented on #460
I will take this task. Just need some time to figure out the github mechanics. This will be the first time I have have contributed to any project on a version control server.

[2022-05-21 18:24] erwanp commented on #460
Great! We can help with the technical points of versioning etc.

[2022-05-21 22:04] erwanp commented on #474
`fix/exomol_api_update` in https://github.com/radis/radis/pull/465 actually introduced some very welcome corrections to the ExoMol parsing (fixing inconsistencies in ExoMol definitions, and letting Radis work with most ExoMol molecules), so it should make it to production ASAP i.e. in Radis 0.13.1.  I'll merge https://github.com/radis/radis/pull/465 soon (end of coming week, probably)

All the Com

[2022-05-21 22:07] HajimeKawahara commented on #474
Ok. Thanks!

[2022-05-22 16:26] bsipocz commented on #278
I would strongly recommend to use the conda-forge machinery rather than manually maintain conda building machinery here and on your own conda channel.

They have detailed guides how to set up a staged recipe, and of course you can check out the feedstocks of other packages in the repos of `<"packagename">-feedstock`

[2022-05-22 18:54] erwanp commented on #278
Hello @bsipocz , thank you for the advice ! @arunavabasu-03 can you have a look ?

[2022-05-22 18:56] #473 closed

[2022-05-22 19:06] arunavabasu-03 commented on #278
Ok @erwanp, I will see that thing.

[2022-05-22 19:11] bsipocz opened #479 "Consider upstreaming exomol access to astroquery"
### 🔖 Feature description

astroquery has a growing number of modules for querying line and molecular databases (maybe some more of them would be of use for you, too: https://astroquery.readthedocs.io/en/latest/#line-list-services), exposing more of them by upstreaming would be very much welcome.

I fully acknowledge that this would mean refactoring here, and probably a more involved PR than a sim

[2022-05-22 19:20] bsipocz commented on #278
The conda-forge people are generarily super helpful, and the infrastructure is very well maintained and looked after with all the nuts and bolts included, so overall you will be better off (for all the astropy packages we maintained our recipes for a while, but since we switches it's much less headache for a much stable result).

[2022-05-22 19:30] erwanp commented on #479
Perfect timing. We are currently working with the [ExoJax](https://github.com/HajimeKawahara/exojax) team on a common Radis/Exojax API https://github.com/radis/radis/pull/478 for Line database management (for line-by-line spectrum computations). A question that arised (https://github.com/HajimeKawahara/exojax/discussions/257#discussioncomment-2756469) was where to host the API eventually. We decid

[2022-05-22 19:37] bsipocz commented on #479
I think it may need to be both, e.g astroquery for the interaction with the upstream databases, but you can still build a common radis API on top of astroquery.

I'm pinging @keflavich, too as our current line lists are mostly focusing on services serving his science interest, but OTOH I would love to see them expanded to other ones as well as getting more usage and therefore real life testing for

[2022-05-22 20:27] keflavich commented on #479
As @bsipocz said, the molecular line databases implemented in astroquery (CDMS, JPLSPEC, and Splatalogue) are mm-focused, but it would be great to have IR databases also included.  I've made use of exomol in the past, but I had to download and mangle the files myself; I didn't come up with a consistent query interface.  So I'm happy to support database-querying elements in astroquery.

[2022-05-22 22:11] erwanp commented on #479
We already have a working version, that handles ExoMol recommended databases (parsing the static-website to infer the recommended database ), and unzips it; parse it and returns a Pandas / Vaex dataframe  [example here](https://radis.readthedocs.io/en/latest/auto_examples/plot_exomol_spectrum.html?highlight=exomol#calculate-a-spectrum-from-exomol). So it should be fairly easy to adapt it to Astroq

[2022-05-22 23:12] HajimeKawahara commented on #479
Hosting the common API in astroquery might be one of the good ideas.
But it looks like there are a couple of things to consider.

One is that it should be Vaex support as @erwanp already mentioned. Memory management is a real challenge for ExoMol.
Another is the scope of a common API. I'm an astronomer, so I'm OK with it, but a common API should be open for other disciplines as well? In that case,

[2022-05-23 06:06] erwanp commented on #479
I'm not really concerned about the 2nd, given that for instance Radis users already use Astropy.units  although most of them come from the Plasma physics or Radiative Transfer communities. Bridges are good

[2022-05-23 09:33] HajimeKawahara commented on #479
Nice. Then, the only issue looks the Vaex support. I chatted with @ykawashima a bit today about this. The current plan is that ExoJAX receives the DataFrame structure from the common API and we will separate JAX support from the common API and move it to the ExoJAX interface.

[2022-05-28 11:47] Supriya1702 opened #482 "Raising KeyError while trying to execute fetch_hitemp('molecule_name') due to inconsistency in cache file creation and how it is being read"
### 🐛 Describe the bug

When running :

from radis.io.hitemp import fetch_hitemp
df = fetch_hitemp("CO")
print(df.columns)

it gives
![image](https://user-images.githubusercontent.com/38047163/170822911-e0abb0da-b85e-4677-8e9f-33f62cbb857c.png)

There is basically inconsistency in how the cache file is being created and how it is being read.

pytable version: _version = "0.15.2"
OS: Windows 10
dep

[2022-05-28 12:09] erwanp commented on #482
Hello! Can you try with Radis 0.13 (pip version) and the latest develop version from Github?

[2022-05-28 18:10] Supriya1702 commented on #482
Hello @erwanp ! It worked with the latest develop version and Radis 0.13

[2022-05-28 19:23] erwanp commented on #482
OK great. Closing, then!

[2022-05-28 19:23] #482 closed

[2022-05-30 13:29] Supriya1702 opened #483 "ModuleNotFoundError: No module named 'radis_cython_extensions' when executing bash gendocs.sh"
### 🐛 Describe the bug

When running `bash gendocs.sh`( cd radis/docs) , it gives `ModuleNotFoundError: No module named 'radis_cython_extensions'`
![image (4)](https://user-images.githubusercontent.com/38047163/170999954-01bc517f-b4bc-43a3-8e8a-f1b5f71bc8d4.png)

### 💡 Possible solutions

This can be fixed by installing Microsoft C++ Build Tools from  [link](https://visualstudio.microsoft.com/visu

[2022-05-30 13:30] #483 closed

[2022-05-30 13:35] Supriya1702 opened #484 "the exception Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/ obtained while installing radis using `pip install -e . -v`"
### 🐛 Describe the bug

the exception  `Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/ ` is obtained while installing radis using `pip install -e . -v` .

### 💡 Possible solutions

This can be fixed by installing Microsoft C++ Build Tools  from [link](https://visualstudio.microsoft.com/visual-cpp

[2022-05-30 13:36] #484 closed

[2022-05-30 15:04] erwanp commented on #483
Thanks for reporting!

[2022-05-31 08:10] pmariotto opened #485 "Warning messages (from Vaex) appear during the fetch of the entire CH4 Exomol database."
### 🐛 Describe the issue

Warning messages appear during the fetch of the entire CH4 Exomol database.

The following script was executed on a HPC node (cpu: 1, memory: 175GB):
[code]

At some point, the following messages appear:
[code]
I don't know if these messages indicate a significant problem.

Note that the ``HDF5`` files (created from the downloaded ``.bz2`` files) are extremely large:
[cod

[2022-05-31 20:30] anandxkumar opened #486 "Bug Report: Exomol, hdf5 tests failing on travis (buffer error)"
### 🐛 Describe the bug

Travis failing: https://app.travis-ci.com/github/radis/radis/jobs/571532389

Steps to reproduce:
- create a new virtual environment using `conda create -n radis_env python=3.8`  and fetch latest develop branch locally
- `pip install -e .`  (pip install -e .[dev] -v didn't work)
- delete `radis.json` and `.radisdb`
- `pytest`

<details>
  <summary>Following is the version of

[2022-06-01 06:45] anandxkumar commented on #486
Yes!
The `radis/radis/test/files/hitemp and hitran` gets updated upon pytest which didn't occur earlier.
Also, I had a python=3.6 environment for radis, and pytest is passing for the same.

Only 1 test in `test_query` failed
<details>
<summary>Error </summary>

radis/test/io/test_query.py:113:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
radis/io/hitran.py:1424:

[2022-06-02 18:46] sagarchotalia opened #488 "Adding a Chunk size method for broadening in Optimized loops"
### 🐛 Describe the issue

This issue pertains to adding the 'chunksize' feature to the optimized selection in [_broaden_lines](https://github.com/radis/radis/blob/develop/radis/lbl/broadening.py#:~:text=def%20_broaden_lines(self%2C%20df)%3A), which is already present for non-optimized lines on line 2181.

#### My understanding of the code:
- We use the `_broaden_lines` (and `_broaden_lines_noneq`)

[2022-06-02 20:05] erwanp commented on #488
Good summary! In the future, for consistency with the papers and documentation, let's call the "optimized" version the "DIT algorithm" (discrete integral transform = discretisation and interpolation of lineshape parameters) vs the "non-optimized" which is a purely "sequential LBL" (line-by-line) approach.

I think you can proceed with the implementation. As you'll see, it will all come down to inc

[2022-06-08 18:06] anandxkumar commented on #486
Sure! I will give it a try and let you know.

[2022-06-13 04:31] #486 closed

[2022-06-23 14:59] arunavabasu-03 commented on #429
### 👉 My Project Board :
https://github.com/suzil/radis-app/projects/4

[2022-07-01 14:34] arunavabasu-03 opened #491 "online notebook problem with hitran db"
### 🐛 Describe the bug

hey team , when I am running radis in the local system it runs fine with every database but when I try to run it on **any online notebook (deepnote , Google collab )** then for **database= "hitran"** it gives errors[buffer error] and other database like geisa it runs fine.
<p align="center">
<img width="45%" alt="Screenshot 2022-07-01 at 7 44 54 PM" src="https://user-images

[2022-07-01 16:24] arunavabasu-03 commented on #491
<img width="753" alt="Screenshot 2022-07-01 at 9 53 53 PM" src="https://user-images.githubusercontent.com/73842340/176933494-2d2cabb7-26e7-4c8c-a933-4c7716f4faee.png">

[2022-07-01 16:26] arunavabasu-03 commented on #491
####  👉 Logs :
[code]

[2022-07-01 16:42] erwanp commented on #491
Thank you. And what is the Numpy version ? Could be related to https://github.com/radis/radis/pull/490  if numpy>1.22.3

[2022-07-01 17:16] arunavabasu-03 commented on #491
<img width="781" alt="Screenshot 2022-07-01 at 10 45 56 PM" src="https://user-images.githubusercontent.com/73842340/176940684-0fd681f6-75b4-45d2-944f-3f9fe505fcfd.png">

[2022-07-01 17:19] arunavabasu-03 commented on #491
not sure @erwanp

[2022-07-01 18:24] erwanp commented on #491
Can you retry with numpy<1.22.3?

[2022-07-01 19:08] arunavabasu-03 commented on #491
@erwanp working fine in numpy<1.22.3 !

<img width="718" alt="Screenshot 2022-07-02 at 12 37 37 AM" src="https://user-images.githubusercontent.com/73842340/176955675-2c365b5e-9aac-43b8-9791-9f56668d815f.png">

[2022-07-02 10:35] erwanp commented on #491
Can you update the dependencies to make sure we have numpy<1.22.3 in your install too?

[2022-07-02 12:06] arunavabasu-03 commented on #491
you taking about to update this [link](https://github.com/radis/radis/blob/b853a26b34a0b9b53670062a2214da4d134ec391/setup.py#L256)

[2022-07-02 13:58] erwanp commented on #491
If it's already there, how come your test install used a newer version of numpy?

[2022-07-03 15:03] arunavabasu-03 commented on #491
no idea @erwanp

[2022-07-03 18:05] erwanp commented on #491
Please try to find out ? If you can't reproduce it, you can safely close the issue !

[2022-07-03 18:37] arunavabasu-03 commented on #491
ok, @erwanp, I try to find it out but for now, I close the issue 😀 .

[2022-07-03 18:38] #491 closed

[2022-07-11 14:21] vanfossen opened #493 "Using store() function with compression being false"
### 🐛 Describe the bug

I am currently using the `calc_spectrum` and `sPlanck` functions. I want to see the uncompressed JSON that is created from an uncompressed `store()`. I receive an error when `compress=False`. The `.spec` file is created, but is blank.

My environment is WSL 2 for Windows 10. So not necessarily Linux but not necessarily Windows. I also attempted on Radis Lab and the same err

[2022-07-11 21:23] TranHuuNhatHuy commented on #493
@erwanp Yes sir, will take a look at this!

[2022-07-16 11:53] erwanp opened #494 "🚀 Feature: parsers for experimental proprietary formats (Winspec, etc)"
### 🔖 Feature description

Add options to parse experimental files from  :

- [ ] Princeton Instrument's Winspec
- [ ] Princeton Instrument's Lightfield

Etc

Implementation :

[code]
Returns spectrum with correct units, and conditions stored in metadata

- [ ] how to handle 2D images? Return a list of Spectra?

- [ ] add example, for instance how to calibrate an experimental spectrum with absolut

[2022-07-20 15:47] TranHuuNhatHuy opened #496 "Bug Report: `SpectrumFactory.non_eq_spectrum()` runtime error"
### 🐛 Describe the bug

Runtime error occured during running the example code of [sf.non_eq_spectrum()](https://radis.readthedocs.io/en/latest/source/radis.lbl.factory.html#radis.lbl.factory.SpectrumFactory.non_eq_spectrum).

[code]

And the error:
[code]

### 💡 Possible solutions

_No response_

### 🎲 Radis version

0.13.0

### 💻 Operating system

Windows

[2022-07-20 16:31] erwanp commented on #496
Hello, can you check if there is an option load_noneq_paramrgerz or equivalent in fetch_databank?

[2022-07-21 01:35] TranHuuNhatHuy commented on #496
Mr. @erwanp , according to [fetch_databank() documentation](https://radis.readthedocs.io/en/latest/source/radis.lbl.loader.html#radis.lbl.loader.DatabankLoader.fetch_databank), it seems that there is a parameter called `load_columns`. I used `load_columns = "noneq"` and it worked now.

I would suggest to update the sample code in [non_eq_spectrum() documentation](https://radis.readthedocs.io/en/la

[2022-07-21 06:15] erwanp commented on #496
Great. Add one sentence in the doc if needed, but (better) can you Catch the error above and return a suggestion for the user on how to fix it, for instance

Except KeyError as err
    If "branch" in KeyError
           Raise ValueError ("missing columns for noneq calculation, please make sure you used load_columns=noneq in fetch _databank() or load_databank(
   Else
         Raise

[2022-07-24 22:22] suzil opened #497 "Bug Report: Unable to download GEISA molecules"
### 🐛 Describe the bug

I'm running this script:
[code]

And I get the error:

[code]

The issue is a little strange because there is definitely a file at the URL https://aeris-geisa.ipsl.fr/geisa_files/2020/Lines/line_GEISA2020_asc_gs08_v1.0_c2h2.

### 💡 Possible solutions

_No response_

### 🎲 Radis version

0.13.0

### 💻 Operating system

MacOS

[2022-07-27 00:26] TranHuuNhatHuy commented on #497
Hi @suzil , I ran the script above and it worked normally, fetching all the molecules in the list (except ones I already had, which is perfect as intended).

I also attempted to run a quick check of `DataSource.open(url_above)`, worked fine.

[code]

I'm using Windows 10, but during the last RADIS workshop on May 18, the GEISA fetch also worked normally on a wide range of devices. Thus, I suspect

[2022-07-27 13:07] suzil commented on #497
I created a standalone virtual environment and installed numpy (without radis) and I can still reproduce the error. This looks a little suspicious:

[code]

I looked at the [source code for `exists`](https://github.com/numpy/numpy/blob/145ed90f638c1a12ce5b06e9100421f99783f431/numpy/lib/_datasource.py#L479) and I get a better error message

[code]
[code]

Looks like I have some issue with the SSL c

[2022-07-27 13:07] #497 closed

[2022-08-10 14:36] #488 closed

[2022-08-10 16:44] erwanp commented on #135
See https://github.com/suzil/radis-app/pull/619#discussion_r942676770 for new requirements

[2022-08-10 16:45] erwanp commented on #493
Hello @TranHuuNhatHuy , did you make any progress ?

[2022-08-10 17:50] TranHuuNhatHuy commented on #493
Hello Mr. @erwanp , my apologies for forgetting this issue for quite a long time.

After investigating the error log, I assume that the error might be as a result of NaN values in the array (cuz the last time I tried, we couldn't slap NaN into JSON). This script further confirms my theory.

[code]

If you deem this is the correct reason behind this issue, I shall proceed with dealing with the NaNs

[2022-08-10 21:05] erwanp commented on #493
Good catch

Btw, there is a method trim() or trim_nans() to remove nans on the side of a Spectrum.

Anyway, storing spectra with nans should be a supported feature. Under the hood were using json_tricks and it seems is has an allow_nan=True option. https://github.com/mverleg/pyjson_tricks/blob/799b76ae625900f0add1dbfe8c2642575d9d32ef/README.rst#other-features
Can you try to implement it?

[2022-08-13 16:37] erwanp opened #501 "ReadTheDocs doesnt build"
### 🐛 Describe the bug

bugs during Documentaiton build for the past 2 months : https://readthedocs.org/projects/radis/builds/17041385/

Error is unexpected and cannot be reproduced (Radis-LAb; and locally by @erwanp @sagarchotalia @TranHuuNhatHuy @Supriya1702 @arunavabasu-03 )

Error first appeared after [this commit](https://github.com/radis/radis/commit/1136890cc2b84734fe037373a48969b3444ce190)

[2022-08-13 16:43] erwanp commented on #501
This example will be ignored by #498 until we find a solution

[2022-08-14 13:44] erwanp commented on #440
Are you still facing this with the latest versions ?

[2022-08-14 14:26] TranHuuNhatHuy commented on #440
Mr. @erwanp ,

I have just run it on RADIS Lab, and sadly, the error persists, same as above.

Here is the link, I hope it is still accessible: https://notebooks.gesis.org/binder/jupyter/user/radis-radis-lab-m46or6lu/lab/tree/examples/co2-4080-4500nm/co2-4080-4500.ipynb

If not, then here is the error log:
[code]

[2022-08-14 14:38] erwanp commented on #440
Radis-Lab is a bit outdated, do you have the error locally too ?

[2022-08-14 14:52] TranHuuNhatHuy commented on #440
Mr. @erwanp ,

I just ran the example notebook locally on my side, still get the same error log at that particular cell.

I cannot send a Jupyter notebook on GitHub, so here is the error log, virtually same as above:
[code]

I suspect this might come from the `slit_function.txt` file.

[2022-08-14 15:09] erwanp commented on #440
Does the file exist ?

[2022-08-14 15:13] TranHuuNhatHuy commented on #440
It did, sir. I put it in the same folder with the notebook.

[2022-08-14 15:52] erwanp commented on #501
Fixed in #502

[2022-08-14 15:52] #501 closed

[2022-08-14 16:03] erwanp commented on #440
Indeed I could reproduce it too.
@CorentinGrimaldi may be due to the Slit errors when using a dispersion, that you spotted already.

@TranHuuNhatHuy let's ignore for the moment : the suggestion offered by Radis `AssertionError: Wavespace of convolved arrays is different, cannot store it in the same Spectrum. You can use Spectrum.apply_slit(inplace=False) to return a new spectrum with only the conv

[2022-08-14 18:51] arunavabasu-03 opened #504 "Strange logs coming in `calc_spectrum`"
### 🐛 Describe the bug

Hey team, I try to run this script but it is giving these strange logs , and I also delete .radisdb/ folder and try many times but gives the same.
[code]
<img width="1417" alt="Screenshot 2022-08-13 at 6 54 51 PM" src="https://user-images.githubusercontent.com/73842340/184550844-25a62980-81ab-4aff-839a-a16b2923b433.png">
<details>
    <summary>logs</summary>

[code]

</deta

[2022-08-14 19:07] erwanp commented on #504
It's vaex related; but vaex used to work. Do you have the same problem without store() ?
I'm not sure these logs are crashing your calculation. There is probably another error

[2022-08-14 19:14] arunavabasu-03 commented on #504
yup it's giving that thing without `store()`

[2022-08-14 19:27] erwanp commented on #504
It's the default script. Didn't it work before?

[2022-08-14 19:28] arunavabasu-03 commented on #504
yup, it worked

[2022-08-14 20:01] erwanp commented on #504
Then your next job is to find what has changed ! ;)

[2022-08-16 13:06] suzil opened #506 "🚀 Feature: Add ability to write spectrum file to a buffer instead of to disk"
### 🔖 Feature description

We're working on a feature for RADIS App to allow the user to download the spectrum file (https://github.com/suzil/radis-app/pull/619). To do this, we do `spectrum.store(file_path)`, load the file from disk to serve to the user, and then delete the file. If we could instead pass a [buffer object](https://docs.python.org/3.8/library/io.html#buffered-streams) to write the

[2022-08-16 15:40] erwanp commented on #506
It seems we can simply dump into a StringIO object and Json works fine (json_tricks probably too).

So we'd replace
https://github.com/radis/radis/blob/91bfcd0bd2c317a17fc80e8150322370ccba321d/radis/tools/database.py#L211

[code]
with
[code]
Is that it ?

[2022-08-16 18:09] suzil commented on #506
Yup, that looks right.

[2022-08-16 18:10] suzil commented on #506
If you're writing binary (mode is "wb"), we'd use `BytesIO()` instead of `StringIO()`.

[2022-08-16 21:08] dcmvdbekerom opened #507 "Plots don't show up when interactive plotting is off"
### 🐛 Describe the bug

By default, I have interactive plotting OFF in matplotlib (i.e. plt.ioff())
Radis seems to assume it is ON by default (i.e. plt.ion())
It would be good to include this line plt.ion() in radis somewhere so that interactive plotting is alway ON regardless of the user's default.

### 💡 Possible solutions

What is the best place to put the plt.ion() line?
Ideally right after ma

[2022-08-16 21:34] dcmvdbekerom commented on #461
I noticed the example ``plot_gpu_widgets.py`` if you tweak the sliders only slightly, the spectrum shoots up. This means the update calculates the spectrum differently (wrong) than the initial spectrum.

This could be related to the bug you mentioned, I will have a look this weekend.

[2022-08-17 05:25] erwanp commented on #507
I remember a show=True/False parameter in Spectrum.plot(), doesn't it fix your problem?

[2022-08-17 05:49] minouHub opened #508 "[Physics] States of CO2 wrongly populated for every other J ?"
### 🐛 Describe the bug

I ran this code to get the rovibrational population of a non-equilibrium CO2 spectrum.

[code]

I got these plots:
![image](https://user-images.githubusercontent.com/36677294/185043497-0c283bda-df94-44af-864a-7655cf6c771c.png)
![image](https://user-images.githubusercontent.com/36677294/185043507-db93003c-caa2-480b-9cc6-33368f833b84.png)
![image](https://user-images.githubus

[2022-08-17 08:01] erwanp commented on #508
Removing the "Bug" label until we're sure it's a one ;)
---

I think it's a correct spectroscopy rule. The first isotope of CO2 has nucleus spin-symmetry  (CO2 626 = 16O - 12C - 16O); i.e.; if you flipped the molecule the wavefunctions should be the same ==>  therefore, all _odd_ rotational levels do not exist for symmetric vibrational modes;  and _even_ rotational levels do not exist for asymmetr

[2022-08-17 08:20] erwanp opened #509 "todo: add quick-fix for unlabelled HITEMP lines"
### 💭 Description

HITEMP-CO2 has some unlabelled lines; therefore the following non-eq calculations won't work :

[code]

RADIS already suggests the user a fix, which requires to use SpectrumFactory :

[code]
See https://github.com/radis/radis/issues/508 for an example of where it's used

It works but requires to change the user script. Would be better if an option was added in `calc_spectrum()`

[2022-08-17 14:43] erwanp opened #510 "🚀 Feature: write a Numba parser for HITEMP Files"
### 🔖 Feature description

Parsing HITRAN/HITEMP file is currently very slow.

#505 improved it a bit for HITRAN files, using the HAPI implementation which is faster than RADIS's initial implementation.
However, HITEMP is unchanged, and remains a large bottleneck.

We use `np.fromfile` which is very slow.
A detailed study was done few months ago : https://stackoverflow.com/questions/71411907/drama

[2022-08-17 15:00] minouHub commented on #508
here is a snapshot of this figure that you mention. The first vibrational bending mode has all the rotational states populated:
![image](https://user-images.githubusercontent.com/36677294/185173419-d40ba4b8-0cad-4cc1-8c6a-513032ab1ca3.png)

[2022-08-17 15:09] erwanp commented on #508
You're right ; all these rotational levels are doubly-degenerate and one of the two does not exist in spin-symmetric isotopes, therefore we're left with exactly one for each J. I'll look more into your example.

Thank you for the example btw, it runs.

[2022-08-17 15:13] erwanp commented on #508
Btw, the Line Survey is quite useful for this ; if you don't know about it
[code]

![image](https://user-images.githubusercontent.com/16088743/185176567-b0777c61-0ff7-4ac6-b2b0-66a287618eef.png)

And indeed the two lines have `jl = 104 ; jl = 103`

[2022-08-17 15:55] erwanp commented on #510
Actually we have have unexpected perf improvement already with numpy 1.23

Unfortunately Radis requires Numpy<1.22.3 for the moment : https://github.com/radis/radis/pull/490

[2022-08-17 18:04] erwanp commented on #508
(will explain and comment more)

![image](https://user-images.githubusercontent.com/16088743/185210901-7efc18f6-2c3b-46ac-8bea-18f33860d8d2.png)

[2022-08-17 18:50] erwanp commented on #508
and indeed that's what I end up getting if i plot the populations of the lines visible in your spectrum

![image](https://user-images.githubusercontent.com/16088743/185219271-d21a0289-b338-4bf4-8eba-922f47ed2b38.png)

[code]

[2022-08-17 19:04] erwanp commented on #508
Example

[code]

[2022-08-18 06:12] minouHub commented on #508
Alright Erwan that's very clear:

- `s.get_population` provides the population used for the partition function
- `s.lines` returns the population used in the spectrum calculation

In essence, `s.get_population` returns the wrong values but is correct enough for its purpose: calculating the partition function. On the other hand, `s.lines` only returns the populations of the lines present in the spe

[2022-08-18 07:57] erwanp commented on #508
Exactly.  closing with #512

[2022-08-18 15:48] #508 closed

[2022-08-19 10:14] erwanp opened #513 "Store HITRAN isotopes separately"
### 💭 Description

Some species like CO2, CO, H2O have many isotopes but most of our calculations use only the first ones (1,2,3).

Current implementation downloads all isotopes and stores them in a same local database file, even if only the first isotopes are required.
It creates long download time; for instance in the ReadTheDocs example : https://radis.readthedocs.io/en/latest/auto_examples/plo

[2022-08-20 20:42] dcmvdbekerom commented on #461
We could solve this pretty easily, but I would like to propose a more rigorous solution;

Currently we calculate `abscoeff`, `absorbance`, `emissivity`, `emissivity_noslit`, `transmittance_noslit`, `radiance_noslit`, and `transmittance` outside of the `Spectrum` object, and then instantiate the object with all these as arguments through the `quantities` dict.

Because these are all related however

[2022-08-22 08:51] erwanp commented on #461
Agreed, and already implemented.
[code]
It can do so from abscoeff, and will require emisscoeff or an equivalent spectral array under nnoequilibrium.

And actually, starting from a recent  Radis version, do don't even need update()  anymore. Just use Spectrum.get()  or Spectrum.plot() with whatever quantity and it will compute it if possible.

[2022-08-26 05:21] TranHuuNhatHuy opened #515 "Unable to run GPU interactive example on RADIS Lab and local environment"
### 🐛 Describe the bug

Currently the script introduced in gallery example of [Real-time GPU Accelerated Spectra (Interactive)](https://radis.readthedocs.io/en/latest/auto_examples/plot_gpu_widgets.html) does not run on either RADIS Lab or on my local environment.

The script:
[code]

When I set `emulate = True` which used CPU, the last traceback in error log was:
[code]

When I set `emulate = Fal

[2022-08-26 06:18] dcmvdbekerom commented on #515
Short answer, it's not a bug but per say but an issue with the RADIS installation on the user side;

The example is really meant as a GPU demo, and in order to run it as such you need three things:
- An NVIDIA GPU (no support for other GPU's as of now, and not likely in the near future)
- CUDA toolkit: https://developer.nvidia.com/cuda-downloads
- Cupy package (Python's way of interacting with the

[2022-08-26 06:35] TranHuuNhatHuy commented on #515
Thank you @dcmvdbekerom for your reply.

I installed RADIS both by using `pip install radis`, and by `pip install -e .` with the developer version as introduced in [RADIS Developer Guide](https://radis.readthedocs.io/en/latest/dev/developer.html#install). I ran the above GPU script outside the developer repo (in "Downloads" folder, to be precise), perhaps this was the reason.

I just attempted to

[2022-08-26 06:50] #515 closed

[2022-08-26 13:31] erwanp commented on #515
There is an option in the install to force installation of C code, and crash if it doesn't. Should be in the docs. @TranHuuNhatHuy Can you find it and run it, and post the error message?

[2022-08-26 17:44] dcmvdbekerom commented on #43
Re-opening due to renewed interest (more to follow)

[2022-08-28 16:51] erwanp commented on #461
@dcmvdbekerom is this fixed by #514  ?

[2022-08-28 16:52] dcmvdbekerom commented on #461
I'm working on it but don't know if I can get it fixed today..

[2022-09-07 16:36] erwanp opened #521 "wide range CH4 cant be computed"
### 🐛 Describe the bug

[code]

   1439             )  # Add small number to prevent w_max falling outside of the grid
   1440             N = np.ceil((np.log(w_max) - np.log(w_min)) / log_p) + 1
-> 1441             return w_min * np.exp(log_p * np.arange(N))
   1442
   1443         log_pL = self.params.dxL  # LDM user params

np.arange(N)
*** ValueError: Maximum allowed size exceeded

N
inf

N in

[2022-09-07 16:40] erwanp commented on #521
Seems to be because some HITRAN CH4 lines have a linewidth of 0

[2022-09-09 09:42] TranHuuNhatHuy opened #523 "🚀 Feature: Allow `crop()` to deal with astropy units"
### 🔖 Feature description

Currently the [crop()](https://radis.readthedocs.io/en/latest/source/radis.spectrum.operations.html#radis.spectrum.operations.crop) function only allows 3 units: `nm`, `cm-1` and `nm_vac`. It's better if other astropy units, such as `u.m`, can be accepted too.

### 👉 Why you want this feature!!

If applicable, this will provide better flexibility to the RADIS experiment.

[2022-09-09 18:24] erwanp commented on #521
Checked :

[code]
1 line  in the full database has this problem.

Pushing a hotfix in RADIS, to raise an explicit error giving more details, and ignore such lines if the user want

[2022-09-10 09:15] #521 closed

[2022-09-11 09:53] Supriya1702 opened #525 "Feature request : Allow multiple diluents calculation for multiple molecules in calc_spectrum"
### 🐛 Describe the bug

Currently, we can computer spectrum for a single molecule in non-air diluents (implemented in [PR: 495](https://github.com/radis/radis/pull/495). For example:
[code]

If we want to compute spectrum for multiple molecules for multiple diluents, that is not currently implemented and will raise a `NotImplementError`:

[code]

### 💡 Possible solutions

Modify the [calc_spectrum

[2022-09-11 14:13] erwanp commented on #525
Thanks! Tagging this as a Good First Issue for new contributors

[2022-09-18 00:29] TranHuuNhatHuy commented on #523
Close as completed in #526 .

[2022-09-18 00:30] #523 closed

[2022-09-19 13:24] PrometheusYao opened #528 "🚀 Feature: I want to calculate total emissivity using radis someday"
### 🔖 Feature description

For example this [Kangwanpongpan 2012](https://www.sciencedirect.com/science/article/abs/pii/S0017931012005686) paper
![1663592903006](https://user-images.githubusercontent.com/113911108/191024585-0db52b8d-52dc-4e3f-9f61-d7db9fd080ee.png)
![1663592816391](https://user-images.githubusercontent.com/113911108/191024319-c835b8e6-284d-4f92-9c49-fcf4634d3ccc.png)

### 👉 Why yo

[2022-09-23 10:49] MrAnimaniac opened #529 "Bug Report: ValueError in _is_at_equilibrium() due to Tvib not being float"
### 🐛 Describe the bug

I’m trying to write a fitting routine for CO2 using `lmfit` and stumbled upon a ValueError being raised in `calc.py`, `_is_at_equilibrium()`.

[code]

In this line `Tvib` - a tuple of floats - is getting compared to a float hence raising this error.

### 💡 Possible solutions

 I assume that this line should not have be raised to start with but for now I avoid this error by

[2022-09-23 11:15] erwanp commented on #529
Thank you for reporting. Can you give a minimal code which reproduces the error?

@TranHuuNhatHuy can you have a look?

[2022-09-23 15:20] MrAnimaniac commented on #529
While writing the minimal example I realized that the error occurs if ` conditions` of `radis.calc_spectrum()` contain `‘Tgas’` as well as `‘Trot’`.
More precisely - and as can be observed due to `i` - it always crashes the second time the function gets called.

[code]

[2022-10-10 14:21] 4the4ryushin commented on #127
is the issue still open?

[2022-10-10 14:25] 4the4ryushin commented on #525
is this issue still open?
i would like to work on it

[2022-10-10 14:26] 4the4ryushin commented on #525
i am new to radis but not  but i have contributed to other projects before

[2022-10-10 16:25] 4the4ryushin commented on #525
![image](https://user-images.githubusercontent.com/74553951/194912264-575ed6ce-963e-43da-beac-4c29fe27f4a2.png)
its working?

[2022-10-11 06:57] erwanp commented on #127
yes

[2022-10-11 06:58] erwanp commented on #525
Hello, welcome. Please hve a look at our [Contributing Guide](https://github.com/radis/radis/blob/develop/CONTRIBUTING.md)
 Open a PR when you feel it's ready !

[2022-10-11 13:41] 4the4ryushin commented on #525
is it a issue or it's just my environment , raids dev installation is throwing an error on latest python3 environment ,3.10+
while it takes a lot of time to install in 3.8+

![image](https://user-images.githubusercontent.com/74553951/195107190-4d9e7f63-3f6b-47b7-8269-7b3ebc854e8e.png)

[2022-10-12 01:42] PrometheusYao commented on #528
Thanks for the reply Erwan. Your reply helped me a lot  and it took me a long time to figure out some of it.

I'm new to Radis and relatively new to python, so this could be a silly problem. Now I have a problem, as shown in the figure (shown below). when I calculate the temperature to 2000K, I get an error message, which I solved by reducing the cutoff. After that I ran and got another error mess

[2022-10-12 16:59] erwanp commented on #528
Memory problem.

You're computing extreme amount of lines, which is what you want to do anyway, as I assume you want to compute a reference emissivity database for use in other codes. So expect tens of millions of lines on a spectral grid of hundred-thousands of datapoints.
Radis makes it possible to compute such spectra, but it remains an extreme computation.

The error message shows you'd need a

[2022-10-12 17:05] erwanp commented on #528
#489 was also implemented by @sagarchotalia to help. It cuts the lines in chunks (instead of cutting the wavenumber range), so you don't have to worry about recombining the ranges afterwards.
As using no chunksize required 41 Gb for 2.8e14 lines*points (cf error messages), try using chunksize=2.8e13 (or less) , you might get only 4.1 Gb usage, which you can handle on your computer.

You'd be one o

[2022-10-13 11:47] Rockyuo666 opened #530 "🚀 Feature: How should I calculate the optical parameters of gases at different temperature concentrations without calling the function loop"
### 🔖 Feature description

How should I calculate the optical parameters of gases at different temperature concentrations without calling the function loop，the time that recalling the program costs much time, so is there a way avoid recalling and searching the database?

### 👉 Why you want this feature!!

_No response_

[2022-10-13 15:47] erwanp commented on #530
You can precompute spectra with SpecDatabase : https://radis.readthedocs.io/en/latest/spectrum/spectrum.html#label-spectrum-database  , I think it can answer your use-case.

Let's discuss here or on the Slack channel for more details.

[2022-10-17 02:42] PrometheusYao commented on #528
Thanks for the reply Erwan. I have solved the problem and your reply helped me a lot.

Now I calculated a set of data to compare with Kangwanpongpan's [paper](https://www.sciencedirect.com/science/article/abs/pii/S0017931012005686) and found some deviations, especially in the region where the temperature is below 1500K. Is the reason for this deviation what you mentioned before: at high pressure (

[2022-10-28 14:25] Shikharishere commented on #430
Hey, @anandxkumar is this issue open for contribution? Would be happy to work on it..

[2022-10-28 14:28] Shikharishere commented on #525
Hello,  @erwanp @Supriya1702 it this issue open for contribution? Would be happy to work on it....

[2022-10-28 20:10] erwanp commented on #525
@4the4ryushin might have started some work. Lets give him a fee days to confirm!

[2022-10-28 20:11] erwanp commented on #430
#13 is open but requires some experience with Docker processes

[2022-10-28 20:24] arunavabasu-03 commented on #429
@erwanp, attaching some `good-first-issues` here :
- [ ]  https://github.com/suzil/radis-app/issues/679
- [ ]  https://github.com/suzil/radis-app/issues/573
- [ ]  https://github.com/suzil/radis-app/issues/151

[2022-10-28 22:13] anandxkumar commented on #430
Sure @Shikharishere this would be a great addition to the Radis-Lab. Let us know if you need any help.

[2022-10-28 22:27] anandxkumar commented on #525
@4the4ryushin let us know the progress, we are aiming to include it in version `0.14`.

[2022-10-28 22:34] anandxkumar commented on #493
@TranHuuNhatHuy would you have time to look into this issue, I'm currently pushing it to milestone 0.15

[2022-10-28 22:42] anandxkumar commented on #444
Closing, as already been resolved in PR: https://github.com/radis/radis/pull/445

[2022-10-28 22:43] #444 closed

[2022-10-29 04:34] 4the4ryushin commented on #525
@Shikharishere, did some work but unfortunately I am unable to squeeze out time rn , little busy schedule so I would gladly pass it on to you

[2022-10-29 05:58] Shikharishere commented on #525
Okay!

[2022-10-29 05:59] Shikharishere commented on #430
Sure!!

[2022-10-29 20:36] arunavabasu-03 commented on #278
Linking `conda-forge` pull request: https://github.com/conda-forge/staged-recipes/pull/20936

[2022-10-30 09:30] erwanp commented on #278
Thanks @bsipocz for the tip, btw!

[2022-11-02 02:57] PrometheusYao commented on #528
Thanks for the reply Erwan.

Now, I have calculated two sets of data using radis, compared with Mohammad Hadi Bordbar's [paper](https://www.sciencedirect.com/science/article/pii/S0010218014000935) and Kangwanpongpan's [paper](https://www.sciencedirect.com/science/article/pii/S0017931012005686) and found some deviations.
1. The water vapor to carbon dioxide molar fraction ratio of 0.125 (i.e, mole_

[2022-11-05 02:35] PrometheusYao commented on #528
Thank you Erwan for your reply, your reply helped me a lot

1. I made sure that cutoff=0 in Radis.

2. The Lorentzian lineshape model is used in both Kangwanpongpan's paper and Mohammad Hadi Bordbar's paper.

3. I have looked up and read some papers on sub-Lorentzian behavior in the past two days, but I still don't quite understand it. I would appreciate if you could recommend some classic papers

[2022-11-07 08:13] erwanp commented on #528
Hello

I had a quick read at the papers

3. Reference on SubLorentzian : Hartmann is the reference on this, see [Collisional Effects on Molecular Spectra](https://www.elsevier.com/books/collisional-effects-on-molecular-spectra/hartmann/978-0-12-822364-2)

2. Indeed it seems Kangwanpongpan & Bordbar both use a Lorentzian model. They do not include a sub-Lorentzian model. So their model is the same

[2022-11-13 18:32] RAJULDEV commented on #268
Hey @erwanp I am interested in this issue.
Please help me in getting started.

[2022-11-13 18:36] RAJULDEV commented on #430
can I contribute ?

[2022-11-14 09:24] erwanp commented on #430
Go. Are you experienced with Docker?

[2022-11-14 13:53] RAJULDEV commented on #430
No, but I will learn it from today.
I will cover within short period.